In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
dt=pd.read_csv("titanic.csv")

In [2]:
dt

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [3]:
dt.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)

In [4]:
dt.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
dt.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

In [6]:
m_v=dt['Age'].mean()
dt['Age'].fillna(value=m_v,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12940\4040654397.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['Age'].fillna(value=m_v,inplace=True)

In [7]:
dt

     Pclass     Sex        Age     Fare  Survived
0         3    male  22.000000   7.2500         0
1         1  female  38.000000  71.2833         1
2         3  female  26.000000   7.9250         1
3         1  female  35.000000  53.1000         1
4         3    male  35.000000   8.0500         0
..      ...     ...        ...      ...       ...
886       2    male  27.000000  13.0000         0
887       1  female  19.000000  30.0000         1
888       3  female  29.699118  23.4500         0
889       1    male  26.000000  30.0000         1
890       3    male  32.000000   7.7500         0

[891 rows x 5 columns]

In [8]:
dt.isnull().sum()

Pclass      0
Sex         0
Age         0
Fare        0
Survived    0
dtype: int64

In [9]:
target=dt.Survived
dt.drop(['Survived'],axis='columns',inplace=True)

In [10]:
dt.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [11]:
dt['Sex'].replace({'female':1 ,'male':0},inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12940\352009245.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['Sex'].replace({'female':1 ,'male':0},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12940\352009245.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dt['Sex'].replace({'female':1 ,'male':0},inplace=True)

In [12]:
dt.corr()

          Pclass       Sex       Age      Fare
Pclass  1.000000 -0.131900 -0.331339 -0.549500
Sex    -0.131900  1.000000 -0.084153  0.182333
Age    -0.331339 -0.084153  1.000000  0.091566
Fare   -0.549500  0.182333  0.091566  1.000000

In [13]:
dt

     Pclass  Sex        Age     Fare
0         3    0  22.000000   7.2500
1         1    1  38.000000  71.2833
2         3    1  26.000000   7.9250
3         1    1  35.000000  53.1000
4         3    0  35.000000   8.0500
..      ...  ...        ...      ...
886       2    0  27.000000  13.0000
887       1    1  19.000000  30.0000
888       3    1  29.699118  23.4500
889       1    0  26.000000  30.0000
890       3    0  32.000000   7.7500

[891 rows x 4 columns]

In [14]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [15]:
X=dt[['Pclass','Sex','Age','Fare']]
Y=target

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=0)

In [17]:
X_train

     Pclass  Sex        Age     Fare
105       3    0  28.000000   7.8958
68        3    1  17.000000   7.9250
253       3    0  30.000000  16.1000
320       3    0  22.000000   7.2500
706       2    1  45.000000  13.5000
..      ...  ...        ...      ...
835       1    1  39.000000  83.1583
192       3    1  19.000000   7.8542
629       3    0  29.699118   7.7333
559       3    1  36.000000  17.4000
684       2    0  60.000000  39.0000

[668 rows x 4 columns]

In [18]:
Y_train

105    0
68     1
253    0
320    0
706    1
      ..
835    1
192    1
629    0
559    1
684    0
Name: Survived, Length: 668, dtype: int64

In [19]:
from sklearn.naive_bayes import GaussianNB 
gaussian = GaussianNB() 
gaussian.fit(X_train, Y_train)

GaussianNB()

In [20]:
Y_pred=gaussian.predict(X_test)

In [21]:
Y_pred

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
accuracy = accuracy_score(Y_test,Y_pred)
precision = precision_score(Y_test,Y_pred,average='micro')
recall = recall_score(Y_test,Y_pred,average='micro')

In [26]:
accuracy

0.7757847533632287

In [27]:
precision

0.7757847533632287

In [28]:
recall

0.7757847533632287

In [29]:
cm = confusion_matrix(Y_test,Y_pred)

In [30]:
cm

array([[110,  29],
       [ 21,  63]], dtype=int64)