In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("student_data.csv")

In [5]:
df

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.0,75,78.0,100.0,2018.0,3.0,male
1,71.0,86,77.0,85.0,2019.0,3.0,female
2,60.0,85,75.0,90.0,2020.0,3.0,female
3,64.0,86,74.0,77.0,2019.0,2.0,male
4,73.0,75,77.0,83.0,2018.0,2.0,female
5,67.0,77,69.0,83.0,2021.0,2.0,male
6,78.0,86,69.0,NaN,NaN,1.0,male
7,70.0,88,61.0,77.0,2019.0,NaN,male
8,NaN,77,71.0,88.0,2021.0,3.0,female
9,71.0,81,69.0,92.0,2018.0,3.0,female
10,77.0,82,80.0,82.0,2021.0,2.0,male
11,78.0,87,NaN,75.0,2018.0,2.0,female
12,70.0,75,61.0,87.0,2021.0,3.0,male
13,60.0,83,77.0,90.0,2019.0,3.0,female
14,61.0,81,61.0,NaN,2021.0,1.0,male
15,77.0,81,64.0,96.0,2018.0,3.0,male
16,62.0,80,74.0,95.0,2019.0,NaN,female
17,64.0,86,75.0,84.0,2018.0,2.0,female
18,NaN,83,65.0,87.0,2019.0,3.0,female
19,70.0,77,64.0,88.0,NaN,3.0,male
20,76.0,90,78.0,75.0,2018.0,NaN,male
21,63.0,79,66.0,95.0,2020.0,3.0,female
22,NaN,75,77.0,94.0,2018.0,3.0,male
23,61.0,77,71.0,94.0,2019.0,3.0,female
24,67.0,84,71.0,82.0,2021.0,2.0,female
25,69.0,89,NaN,84.0,2020.0,2.0,male
26,70.0,84,77.0,96.0,2020.0,3.0,male
27,77.0,78,74.0,87.0,NaN,3.0,female
28,71.0,85,79.0,91.0,2021.0,3.0,male
29,62.0,84,62.0,97.0,2018.0,3.0,male

In [7]:
df.isnull()

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,True,True,False,False
7,False,False,False,False,False,True,False
8,True,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,True,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,True,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,True,False
17,False,False,False,False,False,False,False
18,True,False,False,False,False,False,False
19,False,False,False,False,True,False,False
20,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False
22,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,True,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,True,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False

In [9]:
m_v=df['math_score'].mean()
df['math_score'].fillna(value=m_v,inplace=True)
df

C:\Users\Welcome\AppData\Local\Temp\ipykernel_10364\319241901.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['math_score'].fillna(value=m_v,inplace=True)

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.0,100.0,2018.0,3.0,male
1,71.000000,86,77.0,85.0,2019.0,3.0,female
2,60.000000,85,75.0,90.0,2020.0,3.0,female
3,64.000000,86,74.0,77.0,2019.0,2.0,male
4,73.000000,75,77.0,83.0,2018.0,2.0,female
5,67.000000,77,69.0,83.0,2021.0,2.0,male
6,78.000000,86,69.0,NaN,NaN,1.0,male
7,70.000000,88,61.0,77.0,2019.0,NaN,male
8,68.555556,77,71.0,88.0,2021.0,3.0,female
9,71.000000,81,69.0,92.0,2018.0,3.0,female
10,77.000000,82,80.0,82.0,2021.0,2.0,male
11,78.000000,87,NaN,75.0,2018.0,2.0,female
12,70.000000,75,61.0,87.0,2021.0,3.0,male
13,60.000000,83,77.0,90.0,2019.0,3.0,female
14,61.000000,81,61.0,NaN,2021.0,1.0,male
15,77.000000,81,64.0,96.0,2018.0,3.0,male
16,62.000000,80,74.0,95.0,2019.0,NaN,female
17,64.000000,86,75.0,84.0,2018.0,2.0,female
18,68.555556,83,65.0,87.0,2019.0,3.0,female
19,70.000000,77,64.0,88.0,NaN,3.0,male
20,76.000000,90,78.0,75.0,2018.0,NaN,male
21,63.000000,79,66.0,95.0,2020.0,3.0,female
22,68.555556,75,77.0,94.0,2018.0,3.0,male
23,61.000000,77,71.0,94.0,2019.0,3.0,female
24,67.000000,84,71.0,82.0,2021.0,2.0,female
25,69.000000,89,NaN,84.0,2020.0,2.0,male
26,70.000000,84,77.0,96.0,2020.0,3.0,male
27,77.000000,78,74.0,87.0,NaN,3.0,female
28,71.000000,85,79.0,91.0,2021.0,3.0,male
29,62.000000,84,62.0,97.0,2018.0,3.0,male

In [11]:
m_v=df['writing_score'].mean()
df['writing_score'].fillna(value=m_v,inplace=True)
df

C:\Users\Welcome\AppData\Local\Temp\ipykernel_10364\3088261277.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['writing_score'].fillna(value=m_v,inplace=True)

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.0,2018.0,3.0,male
1,71.000000,86,77.000000,85.0,2019.0,3.0,female
2,60.000000,85,75.000000,90.0,2020.0,3.0,female
3,64.000000,86,74.000000,77.0,2019.0,2.0,male
4,73.000000,75,77.000000,83.0,2018.0,2.0,female
5,67.000000,77,69.000000,83.0,2021.0,2.0,male
6,78.000000,86,69.000000,NaN,NaN,1.0,male
7,70.000000,88,61.000000,77.0,2019.0,NaN,male
8,68.555556,77,71.000000,88.0,2021.0,3.0,female
9,71.000000,81,69.000000,92.0,2018.0,3.0,female
10,77.000000,82,80.000000,82.0,2021.0,2.0,male
11,78.000000,87,71.285714,75.0,2018.0,2.0,female
12,70.000000,75,61.000000,87.0,2021.0,3.0,male
13,60.000000,83,77.000000,90.0,2019.0,3.0,female
14,61.000000,81,61.000000,NaN,2021.0,1.0,male
15,77.000000,81,64.000000,96.0,2018.0,3.0,male
16,62.000000,80,74.000000,95.0,2019.0,NaN,female
17,64.000000,86,75.000000,84.0,2018.0,2.0,female
18,68.555556,83,65.000000,87.0,2019.0,3.0,female
19,70.000000,77,64.000000,88.0,NaN,3.0,male
20,76.000000,90,78.000000,75.0,2018.0,NaN,male
21,63.000000,79,66.000000,95.0,2020.0,3.0,female
22,68.555556,75,77.000000,94.0,2018.0,3.0,male
23,61.000000,77,71.000000,94.0,2019.0,3.0,female
24,67.000000,84,71.000000,82.0,2021.0,2.0,female
25,69.000000,89,71.285714,84.0,2020.0,2.0,male
26,70.000000,84,77.000000,96.0,2020.0,3.0,male
27,77.000000,78,74.000000,87.0,NaN,3.0,female
28,71.000000,85,79.000000,91.0,2021.0,3.0,male
29,62.000000,84,62.000000,97.0,2018.0,3.0,male

In [13]:
m_v=df['placement_score'].mean()
df['placement_score'].fillna(value=m_v,inplace=True)
df

C:\Users\Welcome\AppData\Local\Temp\ipykernel_10364\3733975665.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['placement_score'].fillna(value=m_v,inplace=True)

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.000000,2018.0,3.0,male
1,71.000000,86,77.000000,85.000000,2019.0,3.0,female
2,60.000000,85,75.000000,90.000000,2020.0,3.0,female
3,64.000000,86,74.000000,77.000000,2019.0,2.0,male
4,73.000000,75,77.000000,83.000000,2018.0,2.0,female
5,67.000000,77,69.000000,83.000000,2021.0,2.0,male
6,78.000000,86,69.000000,87.642857,NaN,1.0,male
7,70.000000,88,61.000000,77.000000,2019.0,NaN,male
8,68.555556,77,71.000000,88.000000,2021.0,3.0,female
9,71.000000,81,69.000000,92.000000,2018.0,3.0,female
10,77.000000,82,80.000000,82.000000,2021.0,2.0,male
11,78.000000,87,71.285714,75.000000,2018.0,2.0,female
12,70.000000,75,61.000000,87.000000,2021.0,3.0,male
13,60.000000,83,77.000000,90.000000,2019.0,3.0,female
14,61.000000,81,61.000000,87.642857,2021.0,1.0,male
15,77.000000,81,64.000000,96.000000,2018.0,3.0,male
16,62.000000,80,74.000000,95.000000,2019.0,NaN,female
17,64.000000,86,75.000000,84.000000,2018.0,2.0,female
18,68.555556,83,65.000000,87.000000,2019.0,3.0,female
19,70.000000,77,64.000000,88.000000,NaN,3.0,male
20,76.000000,90,78.000000,75.000000,2018.0,NaN,male
21,63.000000,79,66.000000,95.000000,2020.0,3.0,female
22,68.555556,75,77.000000,94.000000,2018.0,3.0,male
23,61.000000,77,71.000000,94.000000,2019.0,3.0,female
24,67.000000,84,71.000000,82.000000,2021.0,2.0,female
25,69.000000,89,71.285714,84.000000,2020.0,2.0,male
26,70.000000,84,77.000000,96.000000,2020.0,3.0,male
27,77.000000,78,74.000000,87.000000,NaN,3.0,female
28,71.000000,85,79.000000,91.000000,2021.0,3.0,male
29,62.000000,84,62.000000,97.000000,2018.0,3.0,male

In [17]:
m_v=df['clubjoin_score'].mean()
df['clubjoin_score'].fillna(value=m_v,inplace=True)
df

C:\Users\Welcome\AppData\Local\Temp\ipykernel_10364\4124934718.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clubjoin_score'].fillna(value=m_v,inplace=True)

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.000000,2018.000000,3.0,male
1,71.000000,86,77.000000,85.000000,2019.000000,3.0,female
2,60.000000,85,75.000000,90.000000,2020.000000,3.0,female
3,64.000000,86,74.000000,77.000000,2019.000000,2.0,male
4,73.000000,75,77.000000,83.000000,2018.000000,2.0,female
5,67.000000,77,69.000000,83.000000,2021.000000,2.0,male
6,78.000000,86,69.000000,87.642857,2019.333333,1.0,male
7,70.000000,88,61.000000,77.000000,2019.000000,NaN,male
8,68.555556,77,71.000000,88.000000,2021.000000,3.0,female
9,71.000000,81,69.000000,92.000000,2018.000000,3.0,female
10,77.000000,82,80.000000,82.000000,2021.000000,2.0,male
11,78.000000,87,71.285714,75.000000,2018.000000,2.0,female
12,70.000000,75,61.000000,87.000000,2021.000000,3.0,male
13,60.000000,83,77.000000,90.000000,2019.000000,3.0,female
14,61.000000,81,61.000000,87.642857,2021.000000,1.0,male
15,77.000000,81,64.000000,96.000000,2018.000000,3.0,male
16,62.000000,80,74.000000,95.000000,2019.000000,NaN,female
17,64.000000,86,75.000000,84.000000,2018.000000,2.0,female
18,68.555556,83,65.000000,87.000000,2019.000000,3.0,female
19,70.000000,77,64.000000,88.000000,2019.333333,3.0,male
20,76.000000,90,78.000000,75.000000,2018.000000,NaN,male
21,63.000000,79,66.000000,95.000000,2020.000000,3.0,female
22,68.555556,75,77.000000,94.000000,2018.000000,3.0,male
23,61.000000,77,71.000000,94.000000,2019.000000,3.0,female
24,67.000000,84,71.000000,82.000000,2021.000000,2.0,female
25,69.000000,89,71.285714,84.000000,2020.000000,2.0,male
26,70.000000,84,77.000000,96.000000,2020.000000,3.0,male
27,77.000000,78,74.000000,87.000000,2019.333333,3.0,female
28,71.000000,85,79.000000,91.000000,2021.000000,3.0,male
29,62.000000,84,62.000000,97.000000,2018.000000,3.0,male

In [31]:
m_v=df['placementoffer_count'].mean()
df['placementoffer_count'].fillna(value=m_v,inplace=True)
df

C:\Users\Welcome\AppData\Local\Temp\ipykernel_10364\1302877216.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['placementoffer_count'].fillna(value=m_v,inplace=True)

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.000000,2018.000000,3.000000,male
1,71.000000,86,77.000000,85.000000,2019.000000,3.000000,female
2,60.000000,85,75.000000,90.000000,2020.000000,3.000000,female
3,64.000000,86,74.000000,77.000000,2019.000000,2.000000,male
4,73.000000,75,77.000000,83.000000,2018.000000,2.000000,female
5,67.000000,77,69.000000,83.000000,2021.000000,2.000000,male
6,78.000000,86,69.000000,87.642857,2019.333333,1.000000,male
7,70.000000,88,61.000000,77.000000,2019.000000,2.555556,male
8,68.555556,77,71.000000,88.000000,2021.000000,3.000000,female
9,71.000000,81,69.000000,92.000000,2018.000000,3.000000,female
10,77.000000,82,80.000000,82.000000,2021.000000,2.000000,male
11,78.000000,87,71.285714,75.000000,2018.000000,2.000000,female
12,70.000000,75,61.000000,87.000000,2021.000000,3.000000,male
13,60.000000,83,77.000000,90.000000,2019.000000,3.000000,female
14,61.000000,81,61.000000,87.642857,2021.000000,1.000000,male
15,77.000000,81,64.000000,96.000000,2018.000000,3.000000,male
16,62.000000,80,74.000000,95.000000,2019.000000,2.555556,female
17,64.000000,86,75.000000,84.000000,2018.000000,2.000000,female
18,68.555556,83,65.000000,87.000000,2019.000000,3.000000,female
19,70.000000,77,64.000000,88.000000,2019.333333,3.000000,male
20,76.000000,90,78.000000,75.000000,2018.000000,2.555556,male
21,63.000000,79,66.000000,95.000000,2020.000000,3.000000,female
22,68.555556,75,77.000000,94.000000,2018.000000,3.000000,male
23,61.000000,77,71.000000,94.000000,2019.000000,3.000000,female
24,67.000000,84,71.000000,82.000000,2021.000000,2.000000,female
25,69.000000,89,71.285714,84.000000,2020.000000,2.000000,male
26,70.000000,84,77.000000,96.000000,2020.000000,3.000000,male
27,77.000000,78,74.000000,87.000000,2019.333333,3.000000,female
28,71.000000,85,79.000000,91.000000,2021.000000,3.000000,male
29,62.000000,84,62.000000,97.000000,2018.000000,3.000000,male

In [37]:
df

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.000000,2018.000000,3.000000,male
1,71.000000,86,77.000000,85.000000,2019.000000,3.000000,female
2,60.000000,85,75.000000,90.000000,2020.000000,3.000000,female
3,64.000000,86,74.000000,77.000000,2019.000000,2.000000,male
4,73.000000,75,77.000000,83.000000,2018.000000,2.000000,female
5,67.000000,77,69.000000,83.000000,2021.000000,2.000000,male
6,78.000000,86,69.000000,87.642857,2019.333333,1.000000,male
7,70.000000,88,61.000000,77.000000,2019.000000,2.555556,male
8,68.555556,77,71.000000,88.000000,2021.000000,3.000000,female
9,71.000000,81,69.000000,92.000000,2018.000000,3.000000,female
10,77.000000,82,80.000000,82.000000,2021.000000,2.000000,male
11,78.000000,87,71.285714,75.000000,2018.000000,2.000000,female
12,70.000000,75,61.000000,87.000000,2021.000000,3.000000,male
13,60.000000,83,77.000000,90.000000,2019.000000,3.000000,female
14,61.000000,81,61.000000,87.642857,2021.000000,1.000000,male
15,77.000000,81,64.000000,96.000000,2018.000000,3.000000,male
16,62.000000,80,74.000000,95.000000,2019.000000,2.555556,female
17,64.000000,86,75.000000,84.000000,2018.000000,2.000000,female
18,68.555556,83,65.000000,87.000000,2019.000000,3.000000,female
19,70.000000,77,64.000000,88.000000,2019.333333,3.000000,male
20,76.000000,90,78.000000,75.000000,2018.000000,2.555556,male
21,63.000000,79,66.000000,95.000000,2020.000000,3.000000,female
22,68.555556,75,77.000000,94.000000,2018.000000,3.000000,male
23,61.000000,77,71.000000,94.000000,2019.000000,3.000000,female
24,67.000000,84,71.000000,82.000000,2021.000000,2.000000,female
25,69.000000,89,71.285714,84.000000,2020.000000,2.000000,male
26,70.000000,84,77.000000,96.000000,2020.000000,3.000000,male
27,77.000000,78,74.000000,87.000000,2019.333333,3.000000,female
28,71.000000,85,79.000000,91.000000,2021.000000,3.000000,male
29,62.000000,84,62.000000,97.000000,2018.000000,3.000000,male

In [43]:
df["gender"]=df["gender"].str.strip().map({"female":1,"male":0})

In [45]:
df

,math_score,reading_score,writing_score,placement_score,clubjoin_score,placementoffer_count,gender
0,62.000000,75,78.000000,100.000000,2018.000000,3.000000,0
1,71.000000,86,77.000000,85.000000,2019.000000,3.000000,1
2,60.000000,85,75.000000,90.000000,2020.000000,3.000000,1
3,64.000000,86,74.000000,77.000000,2019.000000,2.000000,0
4,73.000000,75,77.000000,83.000000,2018.000000,2.000000,1
5,67.000000,77,69.000000,83.000000,2021.000000,2.000000,0
6,78.000000,86,69.000000,87.642857,2019.333333,1.000000,0
7,70.000000,88,61.000000,77.000000,2019.000000,2.555556,0
8,68.555556,77,71.000000,88.000000,2021.000000,3.000000,1
9,71.000000,81,69.000000,92.000000,2018.000000,3.000000,1
10,77.000000,82,80.000000,82.000000,2021.000000,2.000000,0
11,78.000000,87,71.285714,75.000000,2018.000000,2.000000,1
12,70.000000,75,61.000000,87.000000,2021.000000,3.000000,0
13,60.000000,83,77.000000,90.000000,2019.000000,3.000000,1
14,61.000000,81,61.000000,87.642857,2021.000000,1.000000,0
15,77.000000,81,64.000000,96.000000,2018.000000,3.000000,0
16,62.000000,80,74.000000,95.000000,2019.000000,2.555556,1
17,64.000000,86,75.000000,84.000000,2018.000000,2.000000,1
18,68.555556,83,65.000000,87.000000,2019.000000,3.000000,1
19,70.000000,77,64.000000,88.000000,2019.333333,3.000000,0
20,76.000000,90,78.000000,75.000000,2018.000000,2.555556,0
21,63.000000,79,66.000000,95.000000,2020.000000,3.000000,1
22,68.555556,75,77.000000,94.000000,2018.000000,3.000000,0
23,61.000000,77,71.000000,94.000000,2019.000000,3.000000,1
24,67.000000,84,71.000000,82.000000,2021.000000,2.000000,1
25,69.000000,89,71.285714,84.000000,2020.000000,2.000000,0
26,70.000000,84,77.000000,96.000000,2020.000000,3.000000,0
27,77.000000,78,74.000000,87.000000,2019.333333,3.000000,1
28,71.000000,85,79.000000,91.000000,2021.000000,3.000000,0
29,62.000000,84,62.000000,97.000000,2018.000000,3.000000,0